.image {
    width: 200px;
    height: 200px;
    background-image: url("http://placekitten.com/g/200/200");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 768px) {
    .image {
        width: 800px;
        height: 600px;
        background-image: url("http://placekitten.com/g/800/600");
    }
}